* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

body.app-disable-selections * {
    user-select: none;
}